PORT=3030
MONGODB_URI=mongodb+srv://imbickydutta:LeetTrack@leettrack.7n6xnwh.mongodb.net/?retryWrites=true&w=majority&appName=LeetTrack
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=development 
EMAIL_PASS=xexizrohhbrznslg
EMAIL_USER=mbickydutta@gmail.com
FRONTEND_URL=http://localhost:5173